{{ define "main" }}
<script>
  window.$pagedata = {
    type: 'single',
{{with .NextInSection}}
    prev: '{{.RelPermalink}}',
{{end}}
{{with .PrevInSection}}
    next: '{{.RelPermalink}}',
{{end}}
{{with .Parent}}
    parent: '{{.RelPermalink}}',
{{end}}
  }
</script>

{{ partial "nav.html" . }}

<section class="section" style="padding-top: 0;">
  <h1 class="has-text-centered title is-1">
    {{.Title}}
  </h1>
</section>

<section class="section" style="padding-top: 0;">
  <div class="container">
    <div class="content is-size-5">
      {{.Content}}
    </div>
  </div>
</section>


<section class="section" style="padding-top: 0;">
  <nav class="level pagenav">
    {{with .NextInSection}}
    <a id="prevlink" class="level-left button is-size-5 is-narrow" href="{{.RelPermalink}}" onclick="pjax.loadUrl('{{.RelPermalink}}');return false;">
      <span>
        <strong>上一章</strong>
        <em>{{.Title}}</em>
      </span>
    </a>
    {{end}}
    {{with .Parent}}
    <a class="level-item button is-size-5 is-narrow" href="{{.RelPermalink}}" onclick="pjax.loadUrl('{{.RelPermalink}}');return false;">
      <span>
        <strong>返回</strong>
        <em>{{.Title}}</em>
      </span>
    </a>
    {{end}}
    {{with .PrevInSection}}
    <a id="nextlink" class="level-right button is-size-5 is-narrow" href="{{.RelPermalink}}" onclick="pjax.loadUrl('{{.RelPermalink}}');return false;">
      <span>
        <strong>下一章</strong>
        <em>{{.Title}}</em>
      </span>
    </a>
    {{end}}
  </nav>
  
  {{ partial "copyright.html" . }}
  {{ partial "sponsor.html" . }}
</section>

{{ if .Site.Params.advancedNav }}
<script>
  window.$history["{{.Permalink}}"] = {
    path: window.$ancestors.concat("{{.Title}}"),
    time: (new Date()).getTime(),
  }
  window.$history_tree.add_path(window.$ancestors.concat("{{.Title}}"))
  localStorage.lastread = "{{.Permalink}}"
  localStorage.history = JSON.stringify(window.$history)
</script>
{{ end }}
{{end}}