<!--
    The Footer.
-->

<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-start">
        {{.Site.Params.author}}
        <p>Maintained with love by {{ .Site.Params.maintainer }}</p>
        {{ with .Site.Params.description }}
          <p> {{ . }} </p>
        {{ end }}
      </div>
      <div class="level-end">
        <p>Theme <a href="https://github.com/Yrr0r/yuripages">YuriPages</a> by <a href="https://github.com/Yrr0r">Yrr0r</a> & <a href="https://github.com/Gesrua">Gesrua</a>.</p>
      </div>
    </div>
  </div>
</footer>
<script>
  const mediaQueryList = window.matchMedia("only screen and (prefers-color-scheme: dark)");
  const onChange = e => {
    if (e.matches) document.body.classList.add('dark-theme');
    else document.body.classList.remove('dark-theme')
  }
  onChange(mediaQueryList);
  if (mediaQueryList.addEventListener) mediaQueryList.addEventListener("change", onChange);
  else mediaQueryList.addListener(onChange);

  document.addEventListener('keydown', k => {
    if (k.code == 'KeyZ') {
      window.scrollBy({ top: window.innerHeight / 2, left: 0, behavior: 'smooth' });
    } else if (k.code == 'ArrowRight' && window?.$pagedata?.next) {
      pjax.loadUrl(window.$pagedata.next)
    } else if (k.code == 'ArrowLeft' && window?.$pagedata?.prev) {
      pjax.loadUrl(window.$pagedata.prev)
    }
  });
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@1.2.4/themes/pink/pace-theme-minimal.css" integrity="sha256-4AuJ4/qveSqpxWv4mLE+WyVOCgh4BkWqgj7EhbiV7hA=" crossorigin="anonymous">

<!-- css -->
{{ $scssMain := "scss/main.scss" }}
{{ $css := resources.Get $scssMain | toCSS (dict "enableSourceMap" false) | minify }}
<link rel="preload" href="{{ $css.Permalink }}" as="style">
<link href="{{ $css.Permalink }}" rel="stylesheet">
