<!--
    The Footer.
-->

<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-start">
        {{.Site.Params.author}}
        <p>Maintained with love by {{ .Site.Params.maintainer }}</p>
        {{ with .Site.Params.description }}
          <p> {{ . }} </p>
        {{ end }}
      </div>
      <div class="level-end">
        <p>Theme <a href="https://github.com/Yrr0r/yuripages">YuriPages</a> by <a href="https://github.com/Yrr0r">Yrr0r</a> & <a href="https://github.com/Gesrua">Gesrua</a>.</p>
      </div>
    </div>
  </div>
</footer>
<script>
  document.addEventListener('keydown', k => {
    if (k.code == 'KeyZ') {
      window.scrollBy({ top: window.innerHeight / 2, left: 0, behavior: 'smooth' });
    } else if (k.code == 'ArrowRight' && window?.$pagedata?.next) {
      pjax.loadUrl(window.$pagedata.next)
    } else if (k.code == 'ArrowLeft' && window?.$pagedata?.prev) {
      pjax.loadUrl(window.$pagedata.prev)
    }
  });
</script>
<style>
  .dark-theme {
    background-color: #0a0a0a !important;
    color: #FFF !important;
  }
  .dark-theme .card {
    background-color: #121212;
    color: #FFF !important;
    box-shadow: none;
  }
  .dark-theme .card .card-footer {
    border-top-color: #4a4a4a;
  }
  .dark-theme .card .card-footer-item {
    border-right-color: #363636;
    background-color: #242424!important;
  }

  .dark-theme strong, .dark-theme .title, .dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme .menu-list a, .dark-theme .breadcrumb .is-active a {
    color: #FFF !important;
  }
  .dark-theme blockquote {
    background-color: #363636!important;
  }
  .dark-theme .pagenav .button {
    background-color: #363636;
    border-color: transparent;
    color: #fff;
  }
  .dark-theme footer {
    background-color: #363636!important;
  }
  .dark-theme .message {
    background-color: #363636!important;
  }
  .dark-theme .message.is-link .message-body {
    border-color: #3850b7!important;
  }
  .dark-theme .message.is-info .message-body {
    border-color: #296fa8!important;
  }

  .dark-theme .message-body {
    color: #f5f5f5!important;
  }
  .dark-theme .menu-list a:hover {
    background-color: #121212!important;
  }

  .content h4 {
    text-align: center;
  }
  .is-paddingless-horizontal {
    padding-left: 0;
    padding-right: 0;
  }

  .pagenav {
    text-align: left;
    flex-wrap: wrap;
  }

  .pagenav span {
    line-height: 1.25
  }

  .pagenav span em {
    display: block;
    font-style: normal;
  }

  .pagenav .button {
    white-space: normal !important;
    height: auto !important;
    margin-bottom: 12px !important;
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">