{{ define "main" }}
<script>
  window.$pagedata = {
    type: 'section'
  }
</script>

{{ partial "nav.html" . }}

<section class="section" style="padding-top: 0;">
  <h1 class="has-text-centered title is-1">
    {{.Title}}
  </h1>
  {{if .Params.author }}
  <article class="message is-link">
    <div class="message-body has-text-centered">
      作者：<strong>{{.Params.author}}</strong>
    </div>
  </article>
  {{end}}
  <section class="section">
    <div class="columns is-centered">
      {{ with .Content }}
      <div class="column is-full-mobile is-half-tablet">
        <article class="message is-info">
          <div class="message-body has-text-centered">
            {{ . }}
          </div>
        </article>
      </div>
      {{ end }}
      <div class="column">
        <div class="columns is-multiline">
        {{ if .Site.Params.advancedNav }}
          <div class="column is-full-mobile is-half-tablet">
            <a class="button is-outlined is-fullwidth is-primary is-light is-large" href="#" onclick="pjax.loadUrl(localStorage.lastread || '#');return false;">
              上次阅读
            </a>
          </div>
          <div class="column is-full-mobile is-half-tablet">
            <a class="button is-outlined is-fullwidth is-link is-light is-large" href="./history/" onclick="pjax.loadUrl('./history/');return false;">
              历史记录
            </a>
          </div>
          {{ end }}
          {{ with .Pages }}
          {{ range .ByWeight }}
          {{ if not .Params.ignore }}
          <div class="column is-full-mobile is-half-tablet">
            <div class="card">
              <div class="card-content">
                <div>
                  <a class="title is-4 has-text-link" style="word-break: keep-all; overflow-wrap: break-word;"
                    href="{{.RelPermalink}}" onclick="pjax.loadUrl('{{.RelPermalink}}');return false;">
                    {{ .Title }}
                  </a>
                </div>
                <p style="margin-top: 0.7em;">{{ len .Pages }} 项</p>
              </div>
              <footer class="card-footer">
                <span class="card-footer-item">{{ .Params.author }}</span>
                <span class="card-footer-item"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
                </span>
              </footer>
            </div>
          </div>
          {{end}}
          {{end}}
        </div>
        {{end}}
      </div>
    </div>
    {{ partial "sponsor.html" . }}
  </section>
</section>
{{end}}