{{ define "main" }}
<script>
  window.$pagedata = {
    type: 'section'
  }
</script>

{{ partial "nav.html" . }}

<section class="section is-paddingless-horizontal" style="padding-top: 0;">
  <h1 class="has-text-centered title is-1">
    {{.Title}}
  </h1>
  {{if .Params.author }}
  <article class="message is-link">
    <div class="message-body has-text-centered">
      作者：<strong>{{.Params.author}}</strong>
    </div>
  </article>
  {{end}}
  <div class="columns is-centered">
    {{ with .Content }}
      <div class="column is-full-mobile is-half-tablet">
        <article class="message is-info">
          <div class="message-body has-text-centered">
            {{ . }}
          </div>
        </article>
      <!-- <div class="box">
  
        <div class="content has-text-centered is-size-5">
          {{ . }}
        </div>
      </div> -->
    </div>
    {{ end }}
    <div class="column">
      {{with .Pages}}
      <!-- <div class="card"> -->
      <div class="menu">
        <ul class="menu-list">
          {{ range .ByWeight }}
          <li>
            <a class="is-size-5	has-text-centered has-text-weight-medium" href="#" onclick="pjax.loadUrl('{{.RelPermalink}}');return false;">
              {{.Title}}
              <p class="is-size-6">By <strong>{{.Params.author}}</strong></p>
            </a>
          </li>
          {{end}}
        </ul>
        <!-- </div> -->
  
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}